@charset "UTF-8";
/* CSS Document */
/*Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*Reset for newest browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Variables
---------------------------------------*/
/* Font-Face
---------------------------------------*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/subset-Montserrat-Bold.eot");
  src: url("../fonts/subset-Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Montserrat-Bold.woff2") format("woff2"), url("../fonts/subset-Montserrat-Bold.woff") format("woff"), url("../fonts/subset-Montserrat-Bold.ttf") format("truetype"), url("../fonts/subset-Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/subset-Montserrat-Regular.eot");
  src: url("../fonts/subset-Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/subset-Montserrat-Regular.woff") format("woff"), url("../fonts/subset-Montserrat-Regular.ttf") format("truetype"), url("../fonts/subset-Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* User Mixins 
---------------------------------------*/
.clearfix::after {
  /*not a mixin*/
  content: "";
  clear: both;
  display: table;
}

/*
text-align: center; выравнивание все inline-элементов
vertical-align: center; выравнивание inline элементов внутри строки, 
должно быть несколько inline-элементов.
*/
/*width is known*/
/*Центрирование инлайнов внутри блоков, значения задать родителю. 
			font-size: 78px;
			line-height: 119px;
*/
/*Parent's height is set by line-height
Child is inline or inline-block, vertical-align: middle*/
/*Fluid mixins*/
/*Other mixins*/
/* =Buttons
---------------------------------------*/
.button {
  border: none;
  background-color: #24A3FF;
  padding: 18px 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
          box-shadow: 0 0 20px 0 rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 16px;
  color: white;
  font-weight: 700;
  line-height: 19px;
  font-family: "Montserrat", sans-serif;
}

.button:hover {
  cursor: pointer;
}

/* Graphics
---------------------------------------*/
@-webkit-keyframes shaked-animation {
  10% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  25% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  55% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  70% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  85% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes shaked-animation {
  10% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  25% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  40% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  55% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  70% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  85% {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* Headings
---------------------------------------*/
h1 {
  font-size: 38px;
  line-height: 46px;
  font-weight: 700;
  color: white;
}

h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #323264;
}

h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
  color: #323264;
}

h4 {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #24A3FF;
}

h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #323264;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  background-color: white;
}

.form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form {
  width: 650px;
  background-color: #F5F5FA;
  padding: 30px;
}

.form__title {
  margin-bottom: 30px;
  text-align: center;
}

.form__name, .form__message, .form__year, .form__email {
  display: block;
  padding: 15px;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 400;
  line-height: 26px;
}

.form__name:focus, .form__message:focus, .form__year:focus, .form__email:focus {
  outline: none;
  border: 1px solid #24A3FF;
}

.form__name:invalid, .form__message:invalid, .form__year:invalid, .form__email:invalid {
  border: 1px solid #FF0000;
}

.form__name {
  margin-bottom: 15px;
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 400;
  line-height: 26px;
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 400;
  line-height: 26px;
}

.form input::-ms-input-placeholder, .form textarea::-ms-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 400;
  line-height: 26px;
}

.form input::placeholder, .form textarea::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #B3B3BA;
  font-weight: 400;
  line-height: 26px;
}

.form__message {
  resize: none;
  margin-bottom: 30px;
  height: 151px;
}

.form__year {
  margin-bottom: 15px;
}

.form__email {
  margin-bottom: 30px;
}

.form__answer {
  margin-bottom: 15px;
  color: #B3B3BA;
  text-transform: uppercase;
}

.form__output {
  margin-top: 15px;
  color: #24A3FF;
  text-align: center;
}

.form__submit {
  width: 100%;
}

.form__submit:hover {
  background-color: #0085FF;
}

.form__submit:active {
  background-color: #006CCF;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */